<ul class="nav nav-tabs">
  <li class="active">
    <a data-toggle="tab" href="#next-week" >Next Week</a>
  </li>
  <li >
    <a data-toggle="tab" href="#next-month" >Next Week</a>
  </li>
  <li >
    <a data-toggle="tab" href="#next-quarter" >Next Week</a>
  </li>
  <li >
    <a data-toggle="tab" href="#next-year" >Next Week</a>
  </li>
</ul>

<div class="tab-content">
  <div id="next-week" class="tab-pane fade in active">
    <next-week></next-week>
  </div>
  <div id="next-month" class="tab-pane fade">
    <next-month></next-month>
  </div>
  <div id="next-quarter" class="tab-pane fade">
    <next-quarter></next-quarter>
  </div>
  <div id="next-year" class="tab-pane fade">
    <next-year></next-year>
  </div>
</div>


