<style type="text/css">
  .slideval{
    padding: 10px 0 0;
  }
  #setup-visual{
    margin: 50px 0;
  }
  .setupvisualization{
    background: #fff;
    border: 1px solid #dddddd;
    border-radius: 8px;
    margin-bottom: 10px;
    min-height: 560px;
    box-shadow: 5px 5px 5px #ccc;
  }
  .chartheading{
    border-bottom: 1.5px solid #dddddd;
    color: #666;
    font-size: 14px;
    font-weight: 200;
    padding: 7px 10px 4px;
    font-weight: bold;
  }
  .save-compare{
    margin: 10px 0px;
  }
</style>
<section class="col-md-8">
  <section class="row">

    <div class="col-sm-11">
      <section class="row">
        <div class="col-sm-3">
          <p class="text text-primary text-center">Email marketing</p>
          <input min="0" max="100" (change)="checkDistTotal(selectedProduct.nextWeek)" [(ngModel)]="selectedProduct.nextWeek.emailMarketing">
          <p class="text  slideval text-primary text-center">{{selectedProduct.nextWeek.emailMarketing}}%</p>
        </div>

        <div class="col-sm-3">
          <p class="text text-primary text-center">Social Media</p>
          <input min="0" max="100" (change)="checkDistTotal(selectedProduct.nextWeek)" [(ngModel)]="selectedProduct.nextWeek.socialMedia">
          <p class="text  slideval text-primary text-center">{{selectedProduct.nextWeek.socialMedia}}%</p>

        </div>

        <div class="col-sm-3">
          <p class="text text-primary text-center">Mobile marketing</p>
          <input min="0" max="100" (change)="checkDistTotal(selectedProduct.nextWeek)" [(ngModel)]="selectedProduct.nextWeek.mobileMarketing">
          <p class="text  slideval text-primary text-center">{{selectedProduct.nextWeek.mobileMarketing}}%</p>
        </div>

        <div class="col-sm-3">
          <p class="text text-primary text-center">Search (SEO, PPC)</p>
          <input min="0" max="100" (change)="checkDistTotal(selectedProduct.nextWeek)" [(ngModel)]="selectedProduct.nextWeek.search">
          <p class="text  slideval text-primary text-center">{{selectedProduct.nextWeek.search}}%</p>
        </div>


        <div class="col-sm-3">
          <p class="text text-primary text-center">Online display ads</p>
          <input min="0" max="100" (change)="checkDistTotal(selectedProduct.nextWeek)" [(ngModel)]="selectedProduct.nextWeek.onlineDisplayAds">
          <p class="text  slideval text-primary text-center">{{selectedProduct.nextWeek.onlineDisplayAds}}%</p>
        </div>

        <div class="col-sm-3">
          <p class="text text-primary text-center">Events</p>
          <input min="0" max="100" (change)="checkDistTotal(selectedProduct.nextWeek)" [(ngModel)]="selectedProduct.nextWeek.events">
          <p class="text  slideval text-primary text-center">{{selectedProduct.nextWeek.events}}%</p>

        </div>

        <div class="col-sm-3">
          <p class="text text-primary text-center">Promotion discount</p>
          <input min="0" max="100" (change)="checkDistTotal(selectedProduct.nextWeek)" [(ngModel)]="selectedProduct.nextWeek.promotionDiscount">
          <p class="text  slideval text-primary text-center">{{selectedProduct.nextWeek.promotionDiscount}}%</p>
        </div>

        <div class="col-sm-3">
          <p class="text text-primary text-center">Public relations</p>
          <input min="0" max="100" (change)="checkDistTotal(selectedProduct.nextWeek)" [(ngModel)]="selectedProduct.nextWeek.publicRelation">
          <p class="text  slideval text-primary text-center">{{selectedProduct.nextWeek.publicRelation}}%</p>
        </div>


        <div class="col-sm-3">
          <p class="text text-primary text-center">Print ads</p>
          <input min="0" max="100" (change)="checkDistTotal(selectedProduct.nextWeek)" [(ngModel)]="selectedProduct.nextWeek.printAds">
          <p class="text  slideval text-primary text-center">{{selectedProduct.nextWeek.printAds}}%</p>
        </div>

        <div class="col-sm-3">
          <p class="text text-primary text-center">Radio/Tv ads</p>
          <input ui-slider min="0" max="100" (change)="checkDistTotal(selectedProduct.nextWeek)" [(ngModel)]="selectedProduct.nextWeek.radioTvAds">
          <p class="text  slideval text-primary text-center">{{selectedProduct.nextWeek.radioTvAds}}%</p>

        </div>

        <div class="col-sm-3">
          <p class="text text-primary text-center">Direct mail</p>
          <input min="0" max="100" [(ngModel)]="selectedProduct.nextWeek.directMail">
          <p class="text  slideval text-primary text-center">{{selectedProduct.nextWeek.directMail}}%</p>
        </div>


        <div class="col-sm-3">
          <p class="text text-primary text-center">Sales team</p>
          <input min="0" max="100" [(ngModel)]="selectedProduct.nextWeek.salesTeam">
          <p class="text slideval text-primary text-center">{{selectedProduct.nextWeek.salesTeam}}%</p>
        </div>
      </section>
      <hr/>
    </div>

    <section class="col-sm-11">
      <h4>Total Percentage is: <span [ngClass]="{'text-success': selectedProduct.nextWeek.total === 100, 'text-danger' : selectedProduct.nextWeek.total != 100}">{{selectedProduct.nextWeek.total}} %</span></h4>
    </section>
    <div class="col-sm-11">
      <h4>External Factors Impact</h4>
    </div>

    <section class="col-sm-11">
      <section class="row">
        <div class="col-sm-3">
          <p class="text text-primary text-center">Temperature</p>
          <p class="text slideval text-primary text-center">
            <span class="label label-success">Positive</span>
          </p>
        </div>


        <div class="col-sm-3">
          <p class="text text-primary text-center">Inflation</p>
          <p class="text slideval text-primary text-center">
            <span class="label label-warning">Negative</span>
          </p>
        </div>

        <div class="col-sm-3">
          <p class="text text-primary text-center">National events</p>
          <p class="text slideval text-primary text-center">
            <span class="label label-info">Neutral</span>
          </p>
        </div>

        <div class="col-sm-3">
          <p class="text text-primary text-center">Local events</p>
          <p class="text slideval text-primary text-center">
            <span class="label label-danger">Very Negative</span>
          </p>
        </div>
      </section>
    </section>

    <div class="col-sm-11">
      <h4>Competitor</h4>
    </div>

    <section class="col-sm-11">
      <section class="row">
        <div class="col-sm-3">
          <p class="text text-primary text-center">Competitor 1</p>
          <p class="text slideval text-primary text-center">
            <span class="label label-success">Positive</span>
          </p>
        </div>


        <div class="col-sm-3">
          <p class="text text-primary text-center">Competitor 2</p>
          <p class="text slideval text-primary text-center">
            <span class="label label-info">Neutral</span>
          </p>
        </div>

        <div class="col-sm-3">
          <p class="text text-primary text-center">Competitor 3</p>
          <p class="text slideval text-primary text-center">
            <span class="label label-danger">Negative</span>
          </p>
        </div>

        <div class="col-sm-3">
          <p class="text text-primary text-center">Competitor 4</p>
          <p class="text slideval text-primary text-center">
            <span class="label label-success">Positive</span>
          </p>

        </div>
      </section>
    </section>


  </section>
</section>
<section class="col-md-4">
  <section class="row">
    <section class="col-md-12 save-compare text-center">
      <section class="row">
        <section class="col-sm-6">
          <button class="btn btn-primary btn-block" (click)="compute('nextweek')"><span class="glyphicon glyphicon-refresh" ></span>&nbsp;Compute</button>
        </section>
        <section class="col-sm-6">
          <button class="btn btn-primary btn-block" (click)="updateNextWeekData()"><span class="glyphicon glyphicon-floppy-save"></span> Save</button>
        </section>
      </section>
    </section>
    <div class="alert alert-success" [hidden]="!successMsg">
      <strong>Success!</strong> Data updated successfully.
    </div>
    <section class="col-sm-12 setupvisualization text-center" [hidden]="!weekvisshow">
      <section class="chartheading">Next Week</section>
      <section id="prediction-box-week-plot"></section>
    </section>

  </section>
</section>
